@import "libs";
@import "vars";

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}
*:-moz-placeholder{
	color: #666;
	opacity: 1;
}
*::-moz-placeholder{
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666;
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}
html, body{
	height: 100%;
}
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	font-family: $sans;
	opacity: 1;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.fs{
	display: flex;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: 0 0;
    color: #fff;
    z-index: 1000;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header.shrink {
    height: 80px;
   
}
.index-header{
    background-image: url(../img/index-bg.png);
    width: 100%;
    background-position: center;
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
	
}
.index-header-content{
	height: 100%;
}
.container-header{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    -webkit-align-items: center;
	            align-items: center;
}
.header-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/logo-header.png);
    background-position: center;
    height: 30px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: contain;
}
.mobile-wrap{
	display: none;
}
a{
	color: black;
	text-decoration: none;
}
a:hover,
a:active,
a:focus{
	color:black;
	text-decoration: none;
}
ul.header-menu {
    list-style: none;
    padding: 0;
    display: flex;
    font-family: 'hb';
    text-transform: uppercase;
    li{
    	display: flex;
    	-webkit-align-items: center;
    	        align-items: center;
    	    margin: 0 15px;
    	    font-size: 15px;
    	    transition: 300ms;
    	    color: #222;
    	    // border-top: 4px transparent solid;
    	    // border-bottom: 4px transparent solid;

    position: relative;
    overflow: hidden;
    	a{
    		color: #222;
    	}
    }
    li:hover{
    	// border-bottom: 4px #222 solid;
 
    }  
    li:hover:before, li:focus:before, li:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}  
    li:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
 
    }
}
.header-buttons{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-align-items: center;
	            align-items: center;
	    .header-call{
	    	height: 30px;
	    	width: 30px;
	    	background-image: url(../img/phone.svg);
	    	background-repeat: no-repeat;
	    	-webkit-background-size: contain;
	    	     -o-background-size: contain;
	    	        background-size: contain;
	    	margin-right: 15px;
	    }
	    select {
    background: #222;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    appearance: none;
    font-family: 'hb';
    text-align: center;
    text-align-last: center;
    option {
    	font-family: 'hb';
    	padding: 0;
    	padding-left: 3px;
    	text-align: center;
    	text-align-last: center;
    	outline-style: none;
    	outline: none;
}
}
}

.mobile-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.hamburger{
  padding: 5px 0;
  width: 35px;
  display: none;
}

.hamburger .line{
  width: 25px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mobile-2 .navigation li a{
  display: block;
  text-align: center;
  padding: 20px 0;
  color: #222;
  font-family: 'hb';
    text-transform: uppercase;
    font-size: 15px;
}

#mobile-2 .navigation{
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mobile-2 .navigation.nav-is-active{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.header-stack{
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.index-header-content{
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
      text-align: center;
      div{
        padding-bottom: 30px;
      }
}
      .index-headline{
        font-size: 7.5rem;
        font-family: 'hb';
        line-height: 7.5rem;
        color: #222;
      }
      .index-description{
max-width: 45vw;
    width: auto;
    color: #292929;
    font-family: roboto-example,sans-serif;
    font-size: 1.7rem;
    line-height: 2.7rem;
    font-weight: 300;
      }
      .index-button{
        border: 3px solid #222;
        padding: 5px 10px !important;
        font-size: 1.8rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        cursor: pointer;
      }



@import "media"; // Всегда в конце
